<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name" placeholder="name">   
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" name="email" id="email" class="form-control" [(ngModel)]="email" placeholder="email">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" placeholder="password">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" name="university" id="university" class="form-control" [(ngModel)]="university" placeholder="university">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" name="accesskey" id="accesskey" class="form-control" [(ngModel)]="accesskey" placeholder="accesskey">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right login_btn" (click)="onSuperRegister()">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account?<a [routerLink] = "['/login']">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>