<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>
	<div class="container">
	    <div class="d-flex justify-content-center h-100">
	        <div class="card">
	            <div class="card-header">
	                <h1><a [routerLink] = "['/dashboarduser']">Your Dashboard</a></h1>
	                <nav>
	                	<table>
	                		<tr>
	                			<th>Search Events</th>
	                			<th>Manage Events</th>
	                			<th><a [routerLink] = "['/login']">Logout</a></th>
	                		</tr>
	                	</table>
	                </nav>
	            </div>
	            <div class="card-body">
	                <p> This is the official dashboard for students like you to find events to attend here at UCF. </p>
	                <h3> Happening on Campus </h3>
	                <div class="event-list">
	                	<table>
	                		<tr>
	                			<th>Title</th>
	                			<th>Description</th>
	                			<th>Location</th>
	                			<th>Start Time</th>
	                			<th>End Time</th>
	                			<th>Share on Social Media</th>
	                		</tr>
	                		<tr>
	                			<td>Trick or Treat on Greek Street (TOTOGS)</td>
	                			<td>Held around the same time as Halloween, Trick or Treat on Greek Street (TOTOGS) is a community wide event in which fraternities and sororities host a variety of Halloween events for students, staff, and families in the central Orlando area.</td>
	                			<td>Greek Park</td>
	                			<td>Time</td>
	                			<td>Time</td>
	                			<td>
	                				<img src="../assets/FacebookLogo.png">
	                			</td>
	                		</tr>
	                	</table>
	                </div>
	                <h3> Your Created Events </h3>
		                <div class="event-list">
		                	<table>
		                		<tr>
		                			<th>Title</th>
		                			<th>Description</th>
		                			<th>Location</th>
		                			<th>Start Time</th>
		                			<th>End Time</th>
		                			<th>Share on Social Media</th>
		                		</tr>
		                		<tr>
		                			<td>Trick or Treat on Greek Street (TOTOGS)</td>
		                			<td>Held around the same time as Halloween, Trick or Treat on Greek Street (TOTOGS) is a community wide event in which fraternities and sororities host a variety of Halloween events for students, staff, and families in the central Orlando area.</td>
		                			<td>Greek Park</td>
		                			<td>Time</td>
		                			<td>Time</td>
		                			<td>Share Button</td>
		                		</tr>
		                	</table>
		                </div>
	            </div>
	            <div class="card-footer">
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>