@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../../assets/homebg.jpg');
background-color: rgba(255, 255, 255, 0.5);
background-blend-mode: lighten;
background-size: cover;
background-repeat: no-repeat;
height: 1000px;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 850px;
margin-top: auto;
margin-bottom: auto;
width: 1700px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-body p {
	color: white;
}

.card-body h2 {
	text-align: center;
	color: white;
}

.card-body h3 {
	color: white;
	padding-top: 20px;
	text-align: center;
}

.card-header h3{
color: white;
}

.card-header h2{
color: white;
text-align: center; 
}

.event-calendar {
	padding-top: 20px;
	display: block; 
	margin-left: auto;
	margin-right: auto;
}

.event-calendar table { 
    width: 100%;
}

.event-calendar th{
	color: white;
	font-size: .8em;
	border-style: solid; 
	border-color: gold; 
	border-width: 1px;
	padding: 5px;
	text-align: center;
}

.event-calendar td {
	color: white;
	font-size: 0.7em;
	border-style: solid; 
	border-color: gold; 
	border-width: 1px;
	padding: 5px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}