<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>
	<div class="container">
	    <div class="d-flex justify-content-center h-100">
	        <div class="card">
	            <div class="card-header">
	                <h1><a [routerLink] = "['/dashboarduser']">Your Dashboard</a></h1>
	                <nav>
	                	<table>
	                		<tr>
	                		<div class="form-group">
              				<input placeholder="Enter Event to Search" name="inputString" [(ngModel)] = "inputString" class="form-control" style="max-width:450px">
         					</div>
         					<th><a style="font-size:1.2em; margin-left:auto; margin-right:auto;" [routerLink] = "['/rso']">RSOs</a></th>
	                		<th><a style="font-size:1.2em; padding-left:10em" [routerLink] = "['/login']">Logout</a></th>
	                		</tr>
	                	</table>
	                </nav>
	            </div>
	            <div class="card-body">
	            	<div class="element">
	                	<p align="center"> This is the official dashboard for students like you to find events to attend here at UCF!</p>
	                </div>
			<div class="element">
		    	<h2> Your Events </h2>
		    	<div class="event-list">
				<table>
              		<tr>
              			<th><h5>Event Name</h5></th>
                		<th><h5>Time</h5></th>
                		<th><h5>Location</h5></th>
                		<th><h5>Description</h5></th>
                		<th><h5>Share</h5></th>
              		</tr>
              	<tr style="word-break: break-all">
                 <tr *ngFor="let event of eventlist | filter : inputString;">
                  <td>{{event.event_name}}</td>
                  <td>{{event.time}}</td>
                  <td>{{event.location}}</td>
                  <td>{{event.description}}</td>
                  <td>
		          	<div id="social">
		            	<fb-like></fb-like>
		            		<br /><br />
		                <tweet></tweet>
		            </div>
		          </td>
              	</tr>
          		</table>
          		</div>
      	  	</div>

			        <div class="element">
			            <h3> Add New RSO, Public, or Private Event </h3>
			            <table class="add-event">
	              			<tbody>
                			<tr><input placeholder="Enter Event Type ('RSO', Public', or 'Private')" name="type" [(ngModel)] = "type" class="form-control"></tr>
                			<tr><input placeholder="Enter Event Title" type="text" name="event_name" [(ngModel)] = "event_name" class="form-control"></tr>
                			<tr><input placeholder="Enter Time ('1991-01-08 04:05:06')" type="text" name="time" [(ngModel)] = "time" class="form-control"></tr>
                			<tr><input placeholder="Enter Location" type="text" name="loc" [(ngModel)] = "loc" class="form-control"></tr>
                			<tr><input placeholder="Enter Event Description" type="text" name="desc" [(ngModel)] = "desc" class="form-control"></tr>
                			<tr><input placeholder="Enter Your Name" type="text" name="contact_name" [(ngModel)] = "contact_name" class="form-control"></tr>
                			<tr><input placeholder="Enter Your Email" type="text" name="contact_email" [(ngModel)] = "contact_email" class="form-control"></tr>
                			<tr><input placeholder="Enter Your Phone Number" type="text" name="contact_phone" [(ngModel)] = "contact_phone" class="form-control"></tr>
                			<tr><input placeholder="Enter Event Category" type="text" name="event_category" [(ngModel)] = "event_category" class="form-control"></tr>
	                			<tr>
	                				<button class="btn btn-success" (click)="onAddButton()" style="background-color:black; border-color:gold; margin-top:10px; margin-left: 5px; margin-left: auto; margin-right: auto; display: block">Submit
	                				</button>
	                				<button class="btn btn-success" (click)="clearFields()" style="background-color:gold; border-color:black; margin-top:10px; margin-left: 5px; margin-left: auto; margin-right: auto; display: block">Clear
	                				</button>
	                			</tr>
	              			</tbody>
	            		</table>
	            	</div> 
		        </div>
	            <div class="card-footer">
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>