<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>
	<div class="container">
	    <div class="d-flex justify-content-center h-100">
	        <div class="card">
	            <div class="card-header">
	                <h1><a [routerLink] = "['/dashboarduser']">Your Dashboard</a></h1>
	                <nav>
	                	<table>
	                		<tr>
	                		<div class="form-group">
              				<input placeholder="Enter Event to Search" name="inputString" [(ngModel)] = "inputString" class="form-control" style="max-width:450px">
         					</div>
	                			<th><a style="font-size:1.2em; padding-left:10em" [routerLink] = "['/login']">Logout</a></th>
	                		</tr>
	                	</table>
	                </nav>
	            </div>
	            <div class="card-body">
	            	<div class="element">
	                	<p> This is the official dashboard for students like you to find events to attend here at UCF. </p>
	                </div>
	                <div class="element">
	                	<h3> Happening on Campus </h3>
		                <div class="event-list">
		                	<table>
		                		<tr>
		                			<th>Title</th>
		                			<th>Description</th>
		                			<th>Location</th>
		                			<th>Start Time</th>
		                			<th>End Time</th>
		                			<th>Share on Social Media</th>
		                		</tr>
		                		<tr>
		                			<td>Trick or Treat on Greek Street (TOTOGS)</td>
		                			<td>Held around the same time as Halloween, Trick or Treat on Greek Street (TOTOGS) is a community wide event in which fraternities and sororities host a variety of Halloween events for students, staff, and families in the central Orlando area.</td>
		                			<td>Greek Park</td>
		                			<td>Time</td>
		                			<td>Time</td>
		                			<td>
		                				<img src="../assets/FacebookLogo.png">
		                			</td>
		                		</tr>
		                	</table>
	                	</div>
	                </div>
	                <div class="element">
		                <h3> Your Created Events </h3>
			                <div class="event-list">
			                	<table>
			                		<tr>
			                			<th>Title</th>
			                			<th>Description</th>
			                			<th>Location</th>
			                			<th>Start Time</th>
			                			<th>End Time</th>
			                			<th>Share on Social Media</th>
			                		</tr>
			                		<tr>
			                			<td>Trick or Treat on Greek Street (TOTOGS)</td>
			                			<td>Held around the same time as Halloween, Trick or Treat on Greek Street (TOTOGS) is a community wide event in which fraternities and sororities host a variety of Halloween events for students, staff, and families in the central Orlando area.</td>
			                			<td>Greek Park</td>
			                			<td>Time</td>
			                			<td>Time</td>
			                			<td>
			                				<img src="../assets/FacebookLogo.png">
			                			</td>
			                		</tr>
			                	</table>
			                </div>
			        </div>
			        <div class="element">
			            <h3> Add New Public or Private Event </h3>
			            <table class="add-event">
	              			<tbody>
	                			<tr><input placeholder="Enter Event Type ('Public' or 'Private')" name="type" [(ngModel)] = "type" class="form-control"></tr>
	                			<tr><input placeholder="Enter Event Title" type="text" name="event_name" [(ngModel)] = "event_name" class="form-control"></tr>
	                			<tr><input placeholder="Enter Time ('1991-01-08 04:05:06')" type="text" name="time" [(ngModel)] = "time" class="form-control"></tr>
	                			<tr><input placeholder="Enter Location" type="text" name="loc" [(ngModel)] = "loc" class="form-control"></tr>
	                			<tr><input placeholder="Enter Event Description" type="text" name="desc" [(ngModel)] = "desc" class="form-control"></tr>
	                			<tr><input placeholder="Enter Your Name" type="text" name="contact_name" [(ngModel)] = "contact_name" class="form-control"></tr>
	                			<tr><input placeholder="Enter Your Email" type="text" name="contact_email" [(ngModel)] = "contact_email" class="form-control"></tr>
	                			<tr><input placeholder="Enter Your Phone Number" type="text" name="contact_phone" [(ngModel)] = "contact_phone" class="form-control"></tr>
	                			<tr><input placeholder="Enter Event Category" type="text" name="event_category" [(ngModel)] = "event_category" class="form-control"></tr>
	                			<tr><button class="btn btn-success" (click)="onAddButton()" style="background-color:gold; border-color:black; margin-top:10px; margin-left: 5px;  ">Submit</button><button class="btn btn-success" (click)="clearFields()" style="background-color:black; border-color:gold; margin-top:10px; margin-left: 5px;  ">Clear</button></tr>
	              			</tbody>
	            		</table> 
	            	</div> 
		        </div>
	            <div class="card-footer">
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>